@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.stack-large h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 35px;
  font-size: 42px;
  background: linear-gradient(90deg, rgba(216,255,51,1) 0%, rgba(150,221,39,1) 35%, rgba(90,217,132,1) 40%, rgba(0,134,255,1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container{
  display: inline;
  margin-top: 30px;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
.todoapp {
  background: #fff;
  margin: 50px;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
.input-container{
    max-width: 800px;
    box-shadow: 0 2px 4px 0 rgb(194, 191, 191);
    padding: 18px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content:baseline;
    position: relative;
}
.todo-input__title__char-limit{
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  left: 43%;
}
.input-container > input{
    width: 90%;
    padding: 8px;
    border: 0;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;

}
.input-container > input:focus{
  outline: 0;
}
.input-container > input::placeholder{
  font-weight: bold;
}
.input-container > button{
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(44, 44, 44);
}
.todo {
  display: flex;
  margin-top: 30px;
  text-align: center;
  justify-content: space-between;
  width: 40%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.todo-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}
.todo-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
.todo-text:focus {
  box-shadow: inset 0 0 0 2px;
}
.c-cb {
  box-sizing: border-box;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 20px;
  padding-left: 40px;
  clear: left;
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: 10px;
  left: -4px;
  width: 25px;
  height: 25px;
  background-color: rgba(0,134,255,1);
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label {
  font-size: 18px;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before {
  content: "";
  position: absolute;
  border: 2px solid currentcolor;
  background: transparent;
}
.c-cb > input[type="checkbox"]:focus + label::before {
  border-width: 1px;
  outline: 1px solid #000000;
}
.c-cb > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
.btn-group{
  background-color: #ddd1d1;
  border-radius: 50%;
}
.btn__danger {
  cursor: pointer;
  font-size: 14px;
  padding: 9px;
  font-weight: bold;
}
.routes{
  width: 100%;
}
.notfoundpage{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1 1 1;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.notfoundpage-main{
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0px 23px 7px rgba(0,0,0,0.74);
-webkit-box-shadow: -1px 0px 23px 7px rgba(0,0,0,0.74);
-moz-box-shadow: -1px 0px 23px 7px rgba(0,0,0,0.74);
align-items: center;
border-radius: 10px;
}
.notfoundpage-main h3{
  margin-top: 20px;
  text-align: center;
  letter-spacing: 2px;
}
.notfoundpage-main button{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: aqua;
  padding: 1rem;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}